.page-footer {
  background-color: #263238; /* тёмно-серый */
  width: 100%;
  padding-top: 20px;
}

.footer-copyright {
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  padding: 10px 0;
}

.page-footer .container {
  max-width: 1200px; /* ограничивает контент по центру */
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}
